/* Static CSS for the main page */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

div {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

div#gamearea {
	overflow: hidden;
}
div#gamearea div#world {
	line-height: 0;
}
div#gamearea div#world div {
	position: absolute;
}
div#gamearea div#world img {
	/*display: inline-block;*/
}

/* Static CSS for UI elements */

div#ui {
	z-index: 10000;
}
div#ui .uiWindow {
	background-color: #0008;
	color: white;
}
div#ui .uiWindow * {
	position: absolute;
	box-sizing: border-box;
}
div#ui .uiWindow .uiButton {
	cursor: pointer;
	padding: 4px 5px;
	border: 1px solid #ddd;
	background-color: transparent;
	color: white;
}
div#ui .uiWindow .uiButton:hover {
	/* box-shadow: 0 0 5px #fff8; */
	background-color: #fff3;
}
div#ui .uiWindow .uiButton[disabled=""] {
	cursor: not-allowed;
	color: #aaa;
}

div#ui .uiWindow .uiTextInput {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background-color: transparent;
	color: white;
}

div#ui .uiWindow .uiGraph {
	position: relative;
}
div#ui .uiWindow .uiGraph div.uiGraphBar {
	display: inline-block;
	position: relative;

	max-height: 100%;
}

/* CSS for some tiles */

img.tileImg {
	z-index: 1;
	position: absolute;
}

img.tileShadow {
	z-index: 2;
}
