/* Static CSS for the main page */

* {
	padding: 0;
	margin: 0;
}

div {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

div#gamearea {
	overflow: hidden;
}
div#gamearea div#world {
	line-height: 0;
}
div#gamearea div#world div {
	position: absolute;
}
div#gamearea div#world img {
	display: inline-block;
}

div#ui {
	z-index: 10000;
}
div#ui .uiWindow {
	background-color: #0008;
	color: white;
}
div#ui .uiWindow * {
	position: absolute;
}
